<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Diabetes Prediction app</title>
        
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Arimo' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Hind:300' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div class="login">
            <h1>Do You Have Diabetes..? Lets Predict</h1>
            <hr/>
            
            <form action="{{ url_for('predict')}}" method="post">
                Pregnancies   : <input type="text" name="Pregnancies" placeholder="Pregnancies eg.3" required="required" />
                <br/><br/>
                Glucose       : <input type="text" name="Glucose" placeholder="Glucose eg.115" required="required" />
                <br/><br/>
                Blood Pressure: <input type="text" name="BloodPressure" placeholder="BloodPressure eg.80" required="required" />
                <br/><br/>
                Skin Thickness: <input type="text" name="SkinThickness" placeholder="SkinThickness eg.35" required="required" />
                <br/><br/>
                Insulin        : <input type="text" name="Insulin" placeholder="Insulin eg.145" required="required" />
                <br/><br/>
                Body Mass Index: <input type="text" name="BMI" placeholder="BMI eg.30" required="required" />
                <br/><br/>
                DiabetesPedigree: <input type="text" name="DiabetesPedigreeFunction" placeholder="DiabetesPedigreeFunction eg. 0.535" required="required" />
                <br/><br/>
                Your Age      : <input type="text" name="Age" placeholder="Age eg.35" required="required" />
                <br/><br/>
                <button type="submit" class="btn btn-primary btn-block btn-large" >Predict</button>
            </form>
            <br/>
            <br/>
            
            {{ prediction_text }}
        </div>
    </body>
</html>
